<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>P2P3</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ParticipantController</display-name>
    <servlet-name>ParticipantController</servlet-name>
    <servlet-class>com.controller.ParticipantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipantController</servlet-name>
    <url-pattern>/ParticipantController</url-pattern>
    <url-pattern>/Participant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchController</display-name>
    <servlet-name>BatchController</servlet-name>
    <servlet-class>com.controller.BatchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchController</servlet-name>
    <url-pattern>/BatchController</url-pattern>
    <url-pattern>/Batch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatchParticipantController</display-name>
    <servlet-name>BatchParticipantController</servlet-name>
    <servlet-class>com.controller.BatchParticipantController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatchParticipantController</servlet-name>
    <url-pattern>/BatchParticipantController</url-pattern>
    <url-pattern>/BPController</url-pattern>
  </servlet-mapping>
</web-app>